.title > h1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1;
  cursor: default;
}

.title > h1 > span {
  background: linear-gradient(-45deg, #29BC9B, #7928CA, #FF0080);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 5s ease-in-out infinite;
  -webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

@media (max-width: 1240px) {
  .title > h1 {
    font-size: 7vw;
  }
}

@media (max-width: 823px) {
  .page {
    width: 90vw!important;
  }
}